/*-------------------
     common styles
  ------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.flexible-container {
  display: flex;
}
section {
  margin-bottom: 165px;
}
h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
}
p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #6c6c6c;
}
.link-button {
  color: #ffffff;
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 24px;
  align-items: center;
}
.link-button:hover {
  background-color: #c9195a;
}
.link-button:hover .fa-arrow-right {
  transform: translate(20px, 0);
  transition: transform 1s;
}
.text-box {
  width: 80%;
}

.info-box:hover {
  background-color: #e02c6d;
  transition: 1s;
}

.info-box:hover h3,
.info-box:hover p {
  color: #ffffff;
}

/*---------------
 header styles 
 --------------*/

header {
  background-color: #2d25a0;
  width: 100%;
  height: 677px;
  justify-content: center;
}

#top-banner {
  width: 1524px;
  margin: auto;
}

/* nav bar styles */

nav ul {
  padding: 42px 122px 100px 116px;
}
nav ul li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar a,
i {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.nav-links {
  display: flex;
  position: relative;
  width: 590px;
  justify-content: space-between;
  align-items: center;
}
.nav-links li a:hover {
  color: rgba(255, 255, 255, 0.692);
}
.nav-links li::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #e02c6d;
  margin: auto;
}
.nav-links li:hover::after {
  width: 100%;
  transition: 0.5s;
}
.link-button i {
  padding-right: 8px;
}

/* nav bar end */

.half-width {
  width: 50%;
}

#top-image img {
  width: 550px;
  margin-left: 300px;
}
#top-text {
  width: 485px;
}

/* players section styles */

/* section {
  display: flex;
} */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  padding-top: 70px;
  margin: auto;
}
.player {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px 0px #00000026;
  padding: 15px;
}
.player h3 {
  font-size: 28px;
  font-weight: 700;
}
.player img {
  width: 100%;
  margin-right: 156px;
}

/*--------------------
 highlights section styles
------------------- */

#highlights-section {
  width: 1470px;
  margin: auto;
  align-items: center;
}
.highlights-text h2 {
  font-size: 48px;
  font-weight: 700;
}

.highlights-text p {
  margin-bottom: 30px;
}
.highlights-image img {
  width: 567px;
}

.latest-news h1 {
  color: black;
  text-align: center;
  margin-top: 150px;
}
.multiple-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  margin-top: 70px;
  margin: auto;
}
.single-news {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px 0px #00000026;
  padding: 15px;
}

.single-news h3 {
  font-size: 28px;
  font-weight: 700;
}
.single-news img {
  width: 100%;
}
.learn-more {
  padding-top: 100px;
  text-align: center;
}
.sub-text {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.newsletter {
  background-color: #2d25a0;
  color: white;
  height: 550px;
}

.newsletter h2 {
  font-size: 48px;
  margin-bottom: 0;

  align-items: center;
}
.newsletter p {
  line-height: 0;
  color: white;
  margin-bottom: 30px;
}
.inputs {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}
input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}
input[type="checkbox"] {
  margin: 10px 0;
}
input[type="submit"] {
  background-color: #e02c6d;
  color: white;
}
input[type="submit"]:hover {
  background-color: #c9195a;
}

/*---------------
 footer styles
---------------*/

footer {
  margin-top: 156px;
  margin-bottom: 65px;
}
.logo {
  width: 488px;
  margin: 0 auto 20px;
}
.logo img {
  width: 488px;
}
.social-icons {
  width: 100%;
  margin: 0 auto 20px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-icons ul li {
  display: inline-block;
  margin: 0 14px;
}

.fab {
  color: #969bab;
  text-decoration: none;
  background-color: #e7e7e8;
  padding: 7.5px;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
}

.fab:hover {
  background-color: #e02c6d;
  color: #ffffff;
  transition: 0.5s;
}

footer p {
  text-align: center;
}
